[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scapy = "*"
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
websockets = "*"
numpy = "*"
scipy = "*"
watchdog = "*"
python-dotenv = "*"
sounddevice = "*"
miniaudio = "*"

[dev-packages]

[requires]
python_version = "3.12"
